%section
  %a(href='chapter_1_test.html')<
    この章で書いたメソッドなどのテスト
%ol
  %li
    %h1 数について
    %h2.thin n 進法にする
    %div.center<
      整数
      %br
      %input#S1_NUMBER.short(type='text' value='255')
    %div.center<
      基数
      %br
      %input#S1_BASE.short(type='text' value='16')
    %div
      %input#S1_BASE_NUMBER.button.blue(type='submit' value='計算')
    %div.center<
      結果
      %br
      %input#S1_BASE_NUMBER_RESULT.short(type='text')
    %h2.thin n 進法から 10 進法に戻す
    %div.center<
      整数
      %br
      %input#S1_STRING.short(type='text' value='ff')
    %div.center<
      基数
      %br
      %input#S1_BASE2.short(type='text' value='16')
    %div
      %input#S1_STRING_VALUE.button.blue(type='submit' value='計算')
    %div.center<
      結果
      %br
      %input#S1_STRING_VALUE_RESULT.short(type='text')
    %h2.thin 2 進法を一つすすめる
    %div.center<
      2 進法
      %br
      %input#S1_BINARY_BASE.short2.right(type='text' value='101')
    %div
      %input#S1_BINARY_BASE_ADD.button.blue(type='submit' value='すすめる')
    %h2.thin 2 進法動詞の足し算
    %div.center<
      2 進法
      %div.new-line
        %input#S1_BINARY_BASE1.short2.right(type='text' value='1')
      %div.new-line
        %input#S1_BINARY_BASE2.short2.right(type='text' value='1')
    %div.new-line
      %input#S1_BINARY_BASE_PLUS_RESULT.short2.right(type='text' value='')
      %input#S1_BINARY_BASE_PLUS.button.blue(type='submit' value='足す')
